* {
    font-family: sans-serif;
}

.align_center {
    text-align: center;
}

.station_card {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 0.5fr;
    justify-content: center;
    align-items: center;
}

.btn_add, .btn_remove {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: none;

    font-weight: bold;

    background-color: #c7c7c7;
}

.btn_add:hover {
    background-color: #04d400;
    cursor: pointer;
}
.btn_remove:hover {
    background-color: #d40000;
    cursor: pointer;
}